.faq {
  margin-top: 20px;
  text-align: center;
  background-image: url('../images/faq.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
  min-height: 90vh;
}

.coming {
  margin-top: 20px;
  font-size: 20px;
  color: black;
}
