/* @import url('https://fonts.googleapis.com/css?family=Poiret+One'); */

.div-about-faq {
  margin-top: 25px;
  min-height: 70vh;
  margin-bottom: 5px;
}

@media (max-width: 769px) {
  .div-about-faq {
    margin-top: 20px;
    min-height: 50vh;
    margin-bottom: 20px;
  }
}

.faq-phone {
  display: none;
}

@media (max-width: 769px) {
  .faq-phone {
    display: block;
    margin-top: 10px;
    text-align: center;
    background-image: url('../images/price.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    min-height: 40vh;
  }
}

.faq {
  text-align: center;
  background-image: url('../images/price.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
}

@media (max-width: 769px) {
  .faq {
    display: none;
    /* margin-top: 10px;
    text-align: center;
    background-image: url('../images/price.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    min-height: 50vh; */
  }
}

.prices {
  text-align: center;
  font-size: 23px;
  font-weight: 300;
  color: black;
  margin-bottom: 20px;
}

@media (max-width: 770px) {
  .prices {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

.second-section-faq-header {
  font-size: 23px;
  border-top: 1px solid black;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  color: black;
}

@media (max-width: 770px) {
  .second-section-faq-header {
    font-size: 17px;
  }
}

.question {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 10px;
}

.answer {
  font-weight: 200;
  text-align: justify;
  font-size: 17px;
  margin-bottom: 10px;
}

.answer-points {
  font-weight: 200;
  margin: 0px;
  font-size: 16px;
}

.answer-points-last {
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 16px;
}

.cross-text {
  font-family: 'Poiret One';
  text-decoration: line-through;
  color: gray;
}

.faq-price {
  font-weight: 500;
}

@media (max-width: 770px) {
  .faq-price {
    margin-bottom: 10px;
    margin-left: 5px;
  }
}

.faq-p {
  font-weight: 300;
  margin-bottom: 10px;
}

@media (max-width: 770px) {
  .faq-p {
    margin-left: 5px;
  }
}

.faq-price-super {
  font-weight: 500;
}

.first-section-faq-book-apt {
  text-align: center;
  margin-top: 55px;
}

@media (max-width: 700px) {
  .first-section-faq-book-apt {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.book-apt {
  border-radius: 5px;
  border: 1px #2996cc solid;
  padding: 10px;
  background-color: #2996cc;
  color: white !important;
}

.book-apt:hover {
  text-decoration: none;
  background-color: #4ba6d4;
  color: white !important;
}

.spring-deal {
  margin-bottom: 10px;
  background-color: lightskyblue;
  color: white;
  text-align: center;
}

.deal {
  margin-bottom: 10px;
  text-align: justify;
  font-weight: 200;
}

@media (max-width: 770px) {
  .deal {
    margin-left: 5px;
    margin-bottom: 10px;
  }
}

.faq-p-deal {
  font-weight: 500;
}

@media (max-width: 770px) {
  .faq-p-deal {
    margin-bottom: 20px;
  }
}
