.div-about-lena-home {
  padding-bottom: 100px;
  height: auto;
  min-height: 90vh;
  background-image: url('../images/about.jpg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: left;
}

@media (max-width: 770px) {
  .div-about-lena-home {
    padding-bottom: 10px;
    height: auto;
    min-height: 55vh;
    background-image: url('../images/about.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
}

.bio {
  text-align: justify;
  font-size: 20px;
  background-color: #ffffffde;
  margin-top: 200px;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px -3px #000;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'ZCOOL XiaoWei', serif;
  color: black;
  /* line-height: 20px; */
}

@media (max-width: 770px) {
  .bio {
    text-align: justify;
    font-size: 14px;
    background-color: #ffffffde;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px -3px #000;
    font-family: 'ZCOOL XiaoWei', serif;
    color: black;
    /* line-height: 20px; */
  }
}

.first-section-home {
  padding-bottom: 20px;
  height: auto;
  min-height: 80vh;
  margin-top: 20px;
  background-image: url('../images/lena.jpg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
}

@media (max-width: 770px) {
  .first-section-home {
    padding-bottom: 10px;
    height: auto;
    min-height: 55vh;
    margin-top: 20px;
    background-image: url('../images/lena.jpg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
  }
}

/* .pic-one {
  background-image: url('../images/lena.jpg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
} */

.what-will-get {
  font-size: 30px;
  border-top: 1px solid black;
  padding-top: 15px;
  text-align: center;
}

@media (max-width: 770px) {
  .what-will-get {
    font-size: 17px;
    border-top: 1px solid black;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
  }
}

.main-info {
  font-family: 'ZCOOL XiaoWei', serif;
  color: black;
  text-align: right;
  font-size: 40px;
  background-color: #ffffff60;
  padding: 1em;
  margin-top: 100px;
  border-radius: 1em;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.384);
}

.page-link {
  height: 400px;
  background-image: url('../images/oneside.jpeg');
  background-size: cover;
  background-attachment: fixed;
  margin-top: 40px;
  padding-top: 45%;
  font-size: 30px;
  text-align: center;
}

.img-page-link {
  color: white !important;
}

.on-top {
  text-align: left;
  font-size: 30px;
  background-color: #ffffffde;
  margin-top: 200px;
  /* margin-bottom: 35px; */
  padding: 20px;
  box-shadow: 0px 0px 10px -3px #000;
  font-family: 'Great Vibes', cursive;
  color: black;
  /* line-height: 20px; */
}

@media (max-width: 770px) {
  .on-top {
    text-align: left;
    font-size: 20px;
    background-color: white;
    margin-top: 0;
    margin-bottom: 15px;
    /* margin-bottom: 35px; */
    padding: 0;
    box-shadow: none;
    font-family: 'Great Vibes', cursive;
    color: black;
  }
}





.points {
  font-size: 17px;
  color: black;
  padding-left: 50px;
  margin-bottom: 10px;
}

.about-me {
  font-size: 30px;
  border-top: 1px solid black;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 0 !important;
}

.what-they-say {
  font-size: 30px;
  border-top: 1px solid black;
  padding-top: 15px;
  text-align: center;
}

.second-section {
  margin-top: 20px;
}
